// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$blue: #226666;
$light-blue: #507878;
$orange: #AA6C39;
$red: #9C344C;
$green: #569532;
$white: #000000;

$light-color: #aaa;

$vehicle-background1: #aaa;
$vehicle-background2: #ccc;
