.subparameter-item {
  display: inline-block;
  margin-left: 10px;
  background-color: $light-blue;
  padding: 0 0 0 .5rem;
}

.subparameter-title {
  display: inline-block;
  width: 10rem;
  color: $white;
}
